{% extends "base.html" %}

{% block content %}
    <form method="POST" action="{{ url_for('program_data') }}">
        
 
     
        <div class="section">
            <h1>البحث العلمي (خلال العام الدراسي الحالي)</h1>
            <h4>الأبحاث المنشورة و المقبولة في المجلات العلمية المحكمة و المؤتمرات و الندوات العلمية المتخصصة و أنشطةالتأليف والترجمة والابتكارات والاختراعات .
</h4>
            <div class="form-group">
                <label for="scientific_output">عنوان النتاج العلمي</label>
                <input type="text" id="scientific_output" name="scientific_output" placeholder="عنوان النتاج العلمي">
            </div>
            <div class="form-group">
                <label for="Authors_names"> نوعه</label>

                <select id="research_type" name="research_type"> 
                <option value="بحث منشور " >بحث منشور</option>
                <option value=" بحث مقبول" >بحث مقبول</option>
                <option value="كتاب" >كتاب</option>
                <option value="اختراع">اختراع</option>
                <option value="ابتكار ">ابتكار</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Authors_names">اسماء المؤلفين</label>
                <input type="text" id="Authors_names" name="Authors_names" placeholder="اسماء المؤلقين">
            </div>
            <div class="form-group">
                <label for="Publisher">جهة النشر</label>

                <select id="Publisher" name="Publisher"> 
                <option value="مجلة" > مجلة علمية </option>
                <option value="مؤتمر" >  مؤتمرات و ندوات </option>
                <option value="اختراع">اختراع</option>
                <option value="ابتكار ">ابتكار</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Agency">اسم الجهة أو المؤتمر</label>
                <input type="text" id="Agency" name="Agency" placeholder="الجهة/ المؤتمر">
            </div>
            <div class="form-group">
                <label for="year">السنة /التاريخ للمؤتمر</label>
                <input type="date" id="year" name="year" placeholder="السنة /التاريخ للمؤتمر">
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="button">تسجيل</button>
        </div>
    </form>
{% endblock %}