{% extends "base.html" %}

{% block content %}
   
    <form method="POST" action="{{ url_for('prticipation_data') }}">
        
        <div class="section ">
            <h1>المشاركة في الندوات والمؤتمرات والحلقات العلمية (خلال العام الدراسي الحالي)</h1>
            <div class="form-group">
                <label for="location"> العنوان</label>
                <input type="text" id="location" name="location" placeholder=" العنوان " required>
            </div>
            <div class="form-group">
                <label for="type_part">نوع المشاركة </label>

                <input type="text" id="type_part" name="type_part" placeholder=" بحث / ورقة عمل / حضور / رئاسة جلسة / عضومنظم  " required>
            </div>
            <div class="form-group">
                <label for="place">الجهة و المكان </label>
                <input type="text" id="place" name="place" placeholder="  الجهة و المكان">
            </div>
            <div class="form-group">
                <label for="year"> التاريخ </label>
                <input type="date" id="year" name="year" placeholder=" التاريخ">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="button">تسجيل</button>
        </div>
    </form>
{% endblock %}