{% extends "base.html" %}
{% block content %}
    {% if semseters %}

<div class="table-content" >
        <table>
            <thead>
                <tr>
                    {% if session.get('role') == 'admin' %}
                        <th>User</th>
                    {% endif %}
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Students</th>
                    <th>teaching_load</th>
                    <th>credit_hours</th>
                </tr>
            </thead>
            <tbody>
                {% for item in semseters %}
                <tr>
                    {% if session.get('role') == 'admin' %}
                        <td> {{ item['full_name'] or item['username'] }} </td>
                    {% endif %}
                    <td>{{ item['semester'] }}</td>
                    <td>{{ item['course_code'] }}</td>
                    <td>{{ item['course_name'] }}</td>
                    <td>{{ item['num_students'] }}</td>
                    <td>{{ item['teaching_load'] }}</td>
                    <td>{{ item['credit_hours'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    {% if session.get('role') == 'admin' %}
                        <th>User</th>
                    {% endif %}
                    <th>activity title</th>
                    <th>activity date</th>
                    <th>duration</th>
                    <th>participation_type</th>
                    <th>place</th>
                </tr>
            </thead>
            <tbody>
                {% for item in activity %}
                <tr>
                    {% if session.get('role') == 'admin' %}
                        <td> <a href="{{ url_for('update',id=item.user_id ) }}"> {{ item['full_name'] or item['username'] }} </a> </td>
                    {% endif %}
                    <td> {{ item['activity_title'] }}</td>
                    <td>{{ item['activity_date'] }}</td>
                    <td>{{ item['duration'] }}</td>
                    <td>{{ item['participation_type'] }}</td>
                    <td>{{ item['place'] }}</td>
                    
                </tr>

                {% endfor %}
            </tbody>
        </table>
</div>
    {% else %}
        <h2>لا توجد بيانات مسجلة , {% if session.get('role') == 'admin' %}<a href="{{ url_for('add_data') }}">Add some data</a>{% endif %}</h2>

        {% endif %}

{% endblock %}