{% extends "base.html" %}
{% block content %}


<div class="table-content" >
        <table>
            <thead>
                <tr>
                    <th> الاسم </th>
                    <th>مجموع درجات التقييم الذاتي </th>
                    <th>الحد الاعلي للدرجة</th>
                    <th>تقييم النشاط العلمي </th>

                </tr>
            </thead>
            <tbody>
                {% for item in Evaluation_aspects %}
                <tr>
                   
                    <td><a href="{{ url_for('update_criteria',id=item.user_id ) }}"> {{ item['full_name'] or item['username'] }}</a> </td>
                   
                   {% if  item['Develop_courses'] == None %}
                   <td> لم يتم التقييم</td>
                   {% else %}
                    <td>{{ item['aspests_sum'] }}</td>
                       {% endif %}
                    <td>{{ 45 }}</td>

                    {% if item['Develop_courses_Evaluation'] == None %}
                   <td> لم يتم التقييم</td>
                   {% else %}

                    <td>{{ item['evaluation_sum'] }}</td>
                       {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>


{% endblock %}